<h2><%= bookInfo.title %> </h2>
<a href="/books/<%= bookInfo.id %> ">
<img width ="100" height ="100"src="<%= bookInfo.coverImagePath %> "> </img>
</a>
<div>Author: <%= bookInfo.author.name %> </div>
<div>Publish Date: <%= bookInfo.publishDate.toDateString() %> </div>
<div>Page Count: <%= bookInfo.pageCount %> </div>
<div>Description: <%= bookInfo.description %> </div>


<a href="/books/<%= bookInfo.id %>/edit ">Edit</a>
<%- include("../partials/deleteForm",{url:`/books/${bookInfo.id}`}) %> 
<a href="/authors/<%= bookInfo.author.id %> " >View Author</a>

